[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/api/goldprice"
  to = "/.netlify/functions/goldprice"
  status = 200

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, OPTIONS"
